.root {
  position: relative;
  margin: auto;
}

.test {
  position: absolute;
  bottom: var(--space16);
  right: 0;
  width: 100%;
}

.photo {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
