.root {
  position: relative;
  margin: auto;
}

.box {
  margin-block-start: auto;
  position: absolute;
  bottom: var(--space16);
  right: 0;
  width: 100%;
}

.photo {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.btns {
  position: absolute;
  left: var(--space16);
  bottom: 0;
  display: flex;
}
