.root {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;

  transition: 1s smooth ease-in;
}

.grid {
  width: 600px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

