body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* variables */
:root {
  --red: #ea4141;
  --red50: rgba(234, 65, 65, 0.2);
  --green: #1bd56b;
  --black50: rgba(0, 0, 0, 0.5);
  --gray: #9da8b2;
  --space2: 2px;
  --space4: 4px;
  --space8: 8px;
  --space16: 16px;
  --space24: 24px;
  --space32: 32px;
  --space40: 40px;
  --space48: 48px;
}

/* component */

.chips {
  display: inline-block;
  padding: calc(var(--space16) - var(--space4)) var(--space16) var(--space16);
  line-height: 0;
  height: var(--space24);
  border-radius: var(--space24);
  background-color: var(--black50);
}

/* grid system  */

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-x-between {
  justify-content: space-between;
}

.flex-x-center {
  justify-content: center;
}

.flex-over-center {
  justify-content: center;
  align-items: center;
}

/* margin */

.mr-8 {
  margin-right: var(--space8);
}

.mr-16 {
  margin-right: var(--space16);
}

.mx-24 {
  margin: 0 var(--space24);
}

.pt-4 {
  padding-top: var(--space4);
}
