.root {
  position: relative;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;

  outline: none;

  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  text-decoration: none;
  white-space: pre;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}
.badge {
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 11px;
  background: var(---gray181B1F);
  border-radius: 50%;
  box-shadow: inset 0 0 0 4px var(---gray30363E);
}

.badge > span::before, span::after {
  border-right: 2px solid;
  content: '';
  display: block;
  height: 6px;
  margin-top: -2px;
  position: absolute;
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  right: 12px;
  top: 50%;
  width: 0;
  color: #9DA8B2;
}

.badge > span::after {
  margin-top: -2px;
  right: 8px;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bgColor-default {
  background: none;
}

.bgColor-gray {
  background: rgba(0, 0, 0, 0.5);
}

.bgColor-red {
  background: var(--red);
}

.bgColor-red50 {
  background: var(--red50);
}

.size-small {
  width: var(--space24);
  height: var(--space24);
}

.size-medium {
  width: var(--space40);
  height: var(--space40);
}

.size-large {
  width: var(--space48);
  height: var(--space48);
}

.icon {
}

.icon svg path {
  fill: red;
}
